body {
  font-family: monospace;
  font-size: 16px;
}

div.task-list,
.todolist {
  min-height: 92vh;
  padding: 2vh;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 1vw;
  margin: 1vw;
  border: solid 1px black;
}

h2:hover {
  cursor: pointer;
}

.task-list {
  background: #fae03a;
}

button {
  margin: 1vw;
  padding: 0.4vw;
  background-color: #7561ff;
  color: white;
}

button:hover {
  background-color: #321fad;
}

.clear-tasks {
  background-color: gray;
}

.clear-tasks:hover {
  background-color: red;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

form {
  display: none;
  padding: 1vw;
  border: solid 1px black;
  width: 80%;
}

input,
label,
select {
  display: block;
  width: 70%;
  margin: auto;
}

span:hover {
  cursor: pointer;
}

table {
  margin: 1vw auto;
  width: 90%;
}

tr {
  line-height: 2em;
  cursor: pointer;
  text-align: center;
}

tr:hover {
  background-color: #ddd;
}

td {
  border: solid 1px #ddd;
  padding: 0.5em;
  vertical-align: middle;
}

.striked {
  text-decoration: line-through;
}

footer {
  background-color: #321fad;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  form {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  form {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  form {
    width: 30%;
  }
}
